@import "tailwindcss";

:root {
  --font-sora: 'Sora', sans-serif;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.shake-animation {
  animation: tilt-shaking 0.5s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-slide-left {
  animation: slide-left 40s linear infinite;
}

.animate-slide-right {
  animation: slide-right 40s linear infinite;
}

.scroll-thin::-webkit-scrollbar {
  width: 6px;
}

.scroll-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 4px;
}

.scroll-thin::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

.scroll-thin {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 none;
}
